<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Foto Mahasiswa Universitas Airlanga</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>
<body style="margin:auto;width:600px;margin-top:20px" >
  <div class="img-mahasiswa" style="text-align:center;overflow: hidden;">
    <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash3/578185_685811798109857_1267258379_n.jpg" alt="<%= @nim %>">
    <p><b><%= @nim %></b></p>
  </div>
  <pre style="text-align:center;background:#fff; border: none">
----------------------------------------------------------------------
*                           <b>FOTOMAHASISWA</b>                            *
*                            VERSION 1.0                             *
*             Another weekend project by <a href="https://twitter.com/peeyek/">@peeyek</a> / <a href="https://github.com/pyk/">@pyk</a>              *
----------------------------------------------------------------------
</pre>
</body>
</html>