<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Foto Mahasiswa Universitas Airlanga</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>
<body style="margin:auto;width:600px;margin-top:50px" >
  <pre style="text-align:center;background:#fff; border: none">
----------------------------------------------------------------------
*                           <strong>FOTOMAHASISWA</strong>                            *
*                            VERSION 1.0                             *
*             Another weekend project by <a href="http://github.com/pyk">github.com/pyk</a>              *
----------------------------------------------------------------------
</pre>
  <pre style="background:#fff; border: none">
<b>ABOUT</b>
  Simple web app that show foto of all student on Universitas Airlangga
  based on their NIM (Nomor Induk Mahasiswa).

  </pre>
</body>
</html>